body {
  background-color: wheat;
  font-family: sans-serif;
}

.container {
  background-color: whitesmoke;

  margin: 60px;
  padding: 25px 15px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 10px;
}

img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

h1 {
  text-decoration: underline;
  color: blue;
}

p{
    line-height: 1.5;
}

h2 {
  color: blue;
  text-align: center;
  border-bottom: 1px solid #a8a8a8;
  border-top: 1px solid #a8a8a8;
}

.personal-details {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .personal-details {
    flex-direction: column;
  }

  .name,
  .contacts {
    flex: 1 1 auto;
    margin: 0;
    padding: 10 px;
  }
}

a {
  color: blue;
}

a:visited {
  color: green;
}

li {
  background-color: wheat;
  margin: 10px;
  padding: 7px;
  border-radius: 10px;
  display: inline;
}
@media (max-width: 600px) {
  li {
    display: block;
    margin-right: 0;
    margin-bottom: 5px;
    padding: 7px;
  }
}
